body {
  padding: 0px;
  margin: 0px;
}

.header, .footer {
  background-color: #ddd;
}
#head-subtext{
  color: rgb(255, 255, 247);
}

h1, h3 {
  text-align: center;
}

#bold-letter{
  font-weight: bold;
}

/* Letter specific individual colors */
#capLetters {
  color: rgb(43, 138, 216);
}

#lowCase{
  color: antiquewhite;
}

/* Header abd vertical banner backgrounds */
#head-color{
  background-color: rgb(0, 0, 0);
}
#vertical-bgd-left{
  background-color: rgb(67, 187, 235);
}

/* Form input size */
.form-control{
  width: 100%;
}

.button{
  border-radius: 4px;
}
/* CARDS */
/* .card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
} */

.card-body {
  padding: 2.5%;
}