* {
  font-family: 'Goudy Bookletter 1911', serif;
}

body {
  padding: 0px;
  margin: 0px;
}

.header, .footer {
  background-color: #ddd;
}

h1, h3 {
  text-align: center;
}

#bold-letter{
  font-weight: bold;
}

/* Letter specific individual colors */
#capLetters {
  color: rgb(43, 138, 216);
}
#lowCase{
  color: antiquewhite;
}

/* Header abd vertical banner backgrounds */
#head-color{
  background-color: rgb(0, 0, 0);
}
#vertical-bgd-left{
  background-color: rgb(67, 187, 235);
}
#resultSubHead{
  background-color: rgb(124, 174, 197);
}

/* Form input size */
.form-control{
  width: 100%;
}

.button{
  border-radius: 4px;
}

/* TO DO: Results Container */
/* 1-image size, 2- alignment, 3-Font size 4- Font Decoration, 5- margins and Padding */